@charset "utf-8";

@import url("styles.css");

#page-heading h1 {
  color: black;
  text-align: left;
  font-family: "Orbitron";
  font-weight: bold;
  text-shadow: 2px 2px 8px #888888;
}

#page-heading h3 {
  text-align: right;
  font-family: "Orbitron";
  font-weight: bold;
  color: #5900b3;
  margin-right: 20px;
  text-shadow: 2px 2px 8px #888888;
}

/* Grid styles */ 
.container-sm#resume {
  display: grid;
  margin-bottom: 100px;
  box-shadow: 5px 10px 8px 10px #888888;
}

.container-sm#page-heading {
  display: grid;
  margin-bottom: 50px;
}

/* Vertical Lines */
.vll {
  border-left: 30px solid #5900b3;
  margin-right: 8px;
}

.vlr {
  border-right: 30px solid #5900b3;
  margin-left: 8px;
}

#resume h5, #resume h6, #resume p {
  padding-left: 8px;
}

/* About Me headings */
h2 {
  text-align: center;
  padding: 25px;
  font-family: Arial;
}

/* Job titles */
h5 {
  font-weight: bold;
}

/* Job descriptions */
p {
  font-size: 16px;
}

