@charset "utf-8";

@import url("styles.css");

/* ===============================
	General Styles for All Devices
   ===============================
*/


/* Index page background */
#top-bg1 {
    display: block;
    margin-bottom: 100px;

    background-image: url("fractals.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: absolute;
    top: 0;
    left: 0;
}

/* Carousel */
#myCarousel {
    margin-top: 100px;
    margin-bottom: 100px; 
}

.container-md#welcome {
    color: black;
    text-align: center;
    font-family: "Prata";
    font-weight: bold;
    margin-top: 700px;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Quote animation */
@keyframes fade_in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#projects p {
    font-size: 1.17em;
    text-align: right;
}

.container.row {
    text-align: center;
}

#row2 {
    padding-top: 50px;
}

.col-sm {
    text-align: center;
}

.carousel-caption h1 span {
    display: block;
    color: black;
    font-family: "Orbitron";
    font-weight: bold;
    top: 20%;
    text-shadow: 2px 2px 8px #888888;
}

.carousel-caption #p1 {
    display: block;
    color: white;
    font-weight: bold;
    top: 20%;
}

.carousel-caption #p2, #p3 {
    display: block;
    color: #f3e8ff;
    font-weight: bold;
    top: 20%;
    background-color: black;
}

h1#caro-cap {
    font-family: "Prata";
    color: black;
    text-align: center;
    padding-top: 100px;
}

h2#caro-cap {
    font-family: "Prata";
    color: black;
    text-align: center;
    font-weight: bold;
}

/* ============================================
	Tablet and Desktop Devices: 576px or more 
   ============================================
*/

@media only screen and (min-width: 576px) {

    /* Index page quote */
  #quotation {
    color: white;
    text-align: center;
    font-family: "Prata", Arial, sans-serif;
    font-size: 2em;
  }

  #name {
    color: white;
    text-align: center;
    font-family: "Prata", Arial, sans-serif;
    font-size: 1.17em;
  }

  /* Quote container */
  .container-md #quote {
    margin-top: 220px;
    animation-name: fade_in;
    animation-duration: 4s;
  }

  /* Projects Container */
  .container #projects {
    padding-top: 2em;
    width: 100%;
    display: inline-block;
    background-color: white;
 }

}

/* ===============================
	Mobile Styles up to 575 pixels
   ===============================
*/

@media only screen and (max-width: 575px) {
    
    /* Index page quote */
    #quotation {
        color: white;
        text-align: center;
        font-family: "Prata", Arial, sans-serif;
        font-size: 22px;
    }

    #name {
        color: white;
        text-align: center;
        font-family: "Prata", Arial, sans-serif;
        font-size: 18px;
    }

    /* Quote container */
    .container-md #quote {
        animation-name: fade_in;
        animation-duration: 4s;
    }

    .container #projects {
        padding-top: 50px;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        min-width: fit-content;
        
        background-color: white;
    }
}