@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sorts Mill Goudy Regular'), local('SortsMillGoudy-Regular'), url(https://fonts.gstatic.com/s/sortsmillgoudy/v10/Qw3GZR9MED_6PSuS_50nEaVrfzgEbHoEjw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Prata Regular'), local('Prata-Regular'), url(https://fonts.gstatic.com/s/prata/v13/6xKhdSpbNNCT-sWPCm4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Header on all pages */
header {
    font-size: 20px;
    font-family: Arial;
    color: white;
    text-align: center;
    padding: 15px;
    position: inherit;
    left: 50%;
}

/* Header style */
ul li {
    list-style-type: none;
    display: inline-block;
}

/* Header characteristics */
ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid white;
    transition: 0.5s ease;
}

/* All page links */
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

/* Links that have been visited */
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

/* When hovering over all links */
a:hover {
  color: #5900b3;
  background-color: white;
  text-decoration: none;
}

/* Active page link */
a.active {
  color: #5900b3;
  background-color: white;
  text-decoration: none;
}

body, html {
  height: 100%;
}

/* Index page quote */
.quote {
  color: white;
  text-align: center;
  margin-top: 300px;
  font-family: "Prata", Arial, sans-serif;
}

/* Index page background */
.bg {
  background-image: url("fractals.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

/* Header background on all pages except index */
.bg2 {
  background-image: url("fractals.jpg");
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  height: 10%;
}

/* Contact Me background
.bg3 {
  background-image: url("light-purple.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  top: 0;
  left: 0;
} */

/* Contact Me headings */
.contact-headings {
  color: #5900b3;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Contact Me and Interests heading */
.contact-headings h2 {
  font-family: Arial;
  font-weight: bold;
  top: 20%;
}

/* Contact Me headings */
.contact-headings h4 {
  font-family: "Sorts Mill Goudy", Arial;
}


/* Interests page heading */
.interests-headings h2 {
  color: #5900b3;
  text-align: center;
  font-family: Arial;
  margin-top: 25px;
  font-weight: bold;
}

/* Interests table sizing */
.container {
  text-align: center;
  margin: auto;
}

/* Interests table attributes*/
.table {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

/* Interest page table */
.container int-table {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  top: 30%;
  left: 10%;
}



/* Footer Styles */

footer {
  width: 100%;
}

footer p {
  color: rgb(211, 211, 211);
  font-size: 0.9em;
  text-align: center;
  background-color: rgb(78, 33, 0);
  margin: 0px;
  padding: 10px 0px;
}


/* Bottom Navigation List Styles */

nav#bottom {
  background-color: rgb(126, 66, 13);
  color: rgb(211, 211, 211);
  padding: 15px;
}

nav#bottom ul li {
  font-size: 1em;
  line-height: 1.8em;
}

nav#bottom ul a {
  color: white;
}


/* Bottom Navigation Styles */

nav#bottom {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  justify-content: center;
}

nav#bottom ul {
  flex: 0 1 150px;
}



