@charset "utf-8";

@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sorts Mill Goudy Regular'), local('SortsMillGoudy-Regular'), url(https://fonts.gstatic.com/s/sortsmillgoudy/v10/Qw3GZR9MED_6PSuS_50nEaVrfzgEbHoEjw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Prata Regular'), local('Prata-Regular'), url(https://fonts.gstatic.com/s/prata/v13/6xKhdSpbNNCT-sWPCm4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ===============================
	General Styles for All Devices
   ===============================
*/

/* Grid and Page Styles */
body {
  display: grid;
}

body, html {
  height: auto;
}

/* Header background on all pages except index */
#top-bg2 {
  display: block;
  margin-bottom: 100px;

  position: relative;
  background-image: url("fractals.jpg");
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  min-width: 100%;
}



/* All page links */
a:link {
color: white;
background-color: transparent;
text-decoration: none;
}

/* Links that have been visited */
a:visited {
color: white;
background-color: transparent;
text-decoration: none;
}

/* Active page link */
a.active {
color: #5900b3;
background-color: white;
text-decoration: none;
}

/* Footer Styles */
footer {
  width: 100%;
  display: inline-block;
}

footer p {
  color: rgb(211, 211, 211);
  font-size: 0.9em;
  text-align: center;
  background-color: black;
  margin-bottom: 0px;
  margin-top: 20px;
  padding-top: 10px; 
  padding-bottom: 10px;
}

/* ============================================
	Tablet and Desktop Devices: 576px or more 
   ============================================
*/

@media only screen and (min-width: 576px) {
  
  header {
    font-size: 20px;
    font-family: Arial;
    color: white;
    text-align: center;
    /*padding: 15px;*/
    position: center;
  }

  body {
    display: flex;
    flex-flow: row wrap;

    width: 100%;
    min-width: 576px;
    max-width: 1920px;
    margin: auto;
    min-height: 100%;

  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    height: 40px;
  }

  /* Navigation Style */
  ul li {
    list-style-type: none;
    display: inline-block;
    flex: 1 1 auto;
  }

  /* Nav characteristics */
  ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid white;
    transition: 0.5s ease;
  }

  /* When hovering over all links */
  a:hover {
    color: #5900b3;
    background-color: white;
    text-decoration: none;
  }

}

/* ===============================
	Mobile Styles up to 575 pixels
   ===============================
*/

@media only screen and (max-width: 575px) {

  header {
    font-size: 8px;
    font-family: Arial;
    color: white;
    text-align: center;
    padding: 15px;
    position: center;
  }

  body {
    display: flex;
    flex-flow: row wrap;
    max-width: 575px;
    min-height: 100%;

  }

  footer {
    order: 100;
  }

  ul {
    display: flex;
    flex-flow: row wrap;
  }

  ul li {
    flex: 1 1 130px;
    font-size: 2.2em;
  }

  /* Nav characteristics */
  ul li a {
    text-decoration: none;
    color: white;
    border: 3px solid white;
    transition: 0.5s ease;
  }
}

















