@charset "utf-8";

@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sorts Mill Goudy Regular'), local('SortsMillGoudy-Regular'), url(https://fonts.gstatic.com/s/sortsmillgoudy/v10/Qw3GZR9MED_6PSuS_50nEaVrfzgEbHoEjw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Prata Regular'), local('Prata-Regular'), url(https://fonts.gstatic.com/s/prata/v13/6xKhdSpbNNCT-sWPCm4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ===============================
	General Styles for All Devices
   ===============================
*/



#top {
  display: block;
  margin-bottom: 100px;
}

#projects {
  display: inline-block;
  margin-top: 700px;
}

#myCarousel {
  display: block;
  margin-top: 900px;
  margin-bottom: 100px;
  
}

h2 {
  color: black;
}

/* Index page background */
.bg {
  background-image: url("fractals.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;
}

/* Header background on all pages except index */
.bg2 {
  background-image: url("fractals.jpg");
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

/* Navigation Style */
ul li {
  list-style-type: none;
  display: inline-block;
}

/* Nav characteristics */
ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  border: 1px solid white;
  transition: 0.5s ease;
}

/* All page links */
a:link {
color: white;
background-color: transparent;
text-decoration: none;
}

/* Links that have been visited */
a:visited {
color: white;
background-color: transparent;
text-decoration: none;
}

/* Active page link */
a.active {
color: #5900b3;
background-color: white;
text-decoration: none;
}

/* Grid Styles */
body {
  display: grid;
}

body, html {
  height: auto;
}

/* Quote animation */
@keyframes fade_in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* Footer Styles */
footer {
  width: 100%;
}

footer p {
  color: rgb(211, 211, 211);
  font-size: 0.9em;
  text-align: center;
  background-color: black;
  margin: 0px;
  padding: 10px 0px;
}

/* ============================================
	Tablet and Desktop Devices: 481px or more 
   ============================================
*/

@media only screen and (min-width: 481px) {

  
  header {
    font-size: 20px;
    font-family: Arial;
    color: white;
    text-align: center;
    padding: 15px;
    position: center;
  }

  body {
    display: flex;
    flex-flow: row wrap;

    width: 100%;
    min-width: 481px;
    max-width: 1280px;
    margin: auto;
    min-height: 100%;

  }

  /* When hovering over all links */
  a:hover {
    color: #5900b3;
    background-color: white;
    text-decoration: none;
  }

  /* Index page quote */
  #quote {
    color: white;
    text-align: center;
    font-family: "Prata", Arial, sans-serif;
  }

  /* Quote container */
  .container-md {
    margin-top: 220px;
    animation-name: fade_in;
    animation-duration: 4s;
  }

}

/* ===============================
	Mobile Styles up to 480 pixels
   ===============================
*/

@media only screen and (max-width: 480px) {

  header {
    font-size: 8px;
    font-family: Arial;
    color: white;
    text-align: center;
    padding: 15px;
    position: center;
  }

  body {
    background-color: white;
    color: rgb(211, 211, 211);
  }

  ul {
    display: flex;
    flex-flow: row wrap;
  }

  ul li {
    flex: 1 1 130px;
    font-size: 2.2em;
  }

  /* Index page quote */
  #quote {
    color: white;
    text-align: center;
    font-family: "Prata", Arial, sans-serif;
    font-size: small;
  }

  /* Quote container */
  .container-md {
    margin-top: 50px;
    animation-name: fade_in;
    animation-duration: 4s;
}
}

















