@charset "utf-8";

@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sorts Mill Goudy Regular'), local('SortsMillGoudy-Regular'), url(https://fonts.gstatic.com/s/sortsmillgoudy/v10/Qw3GZR9MED_6PSuS_50nEaVrfzgEbHoEjw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Prata Regular'), local('Prata-Regular'), url(https://fonts.gstatic.com/s/prata/v13/6xKhdSpbNNCT-sWPCm4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v17/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyKS6BoWgz.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ===============================
	General Styles for All Devices
   ===============================
*/

/* Grid and Page Styles */
body {
  display: grid;
  background-color:  #f0efef;
  min-width: fit-content;
}

body, html {
  height: auto;
}

/* Header background on all pages except index */
#top-bg2 {
  display: block;
  margin-bottom: 100px;

  position: relative;
  background-image: url("~/images/fractals.jpg");
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  min-width: 100%;
}

/* All page links */
a:link {
color: white;
background-color: transparent;
text-decoration: none;
}

/* Links that have been visited */
a:visited {
color: white;
background-color: transparent;
text-decoration: none;
}

/* Active page link */
a.active {
color: #5900b3;
background-color: white;
text-decoration: none;
}

/* Horizontal Lines */
.hl {
  border-top: 6px solid #5900b3;
  width: 100%;
}

/* Footer Styles */

footer#f1 {
  width: 100%;
  display: inline-block;
  bottom: 0;
  height: 2em;
}

footer#f2 {
  width: 100%;
  display: inline-block;
  left: 0;
  bottom: 0;
  height: 2em;
  position: absolute;
}

footer p {
  color: rgb(211, 211, 211);
  font-size: 0.9em;
  text-align: center;
  background-color: black;
  margin-bottom: 0px;
  margin-top: 20px;
  padding-top: 10px; 
  padding-bottom: 10px;
}

/* ============================================
	Tablet and Desktop Devices: 577px or more 
   ============================================
*/

@media only screen and (min-width: 577px) {
  
  header {
    font-size: 20px;
    font-family: Arial;
    color: white;
    text-align: center;
    /*padding: 15px;*/
    margin-top: 20px;
    position: center;
  }

  body {
    width: 100%;
    min-width: 576px;
    max-width: 1920px;
    margin: auto;
    min-height: 100%;

  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    height: 40px;
  }

  /* Navigation Style */
  ul li, .navbar ul {
    list-style-type: none;
    display: inline-block;
    flex: 1 1 auto;
    font-family: "Orbitron";
  }

  /* Nav characteristics */
  ul li a, ul a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid white;
    transition: 0.5s ease;
    font-family: "Orbitron";
  }

  /* When hovering over all links */
  a:hover {
    color: #5900b3;
    background-color: white;
    text-decoration: none;
  }

}

/* ===============================
	Mobile Styles up to 576 pixels
   ===============================
*/

@media only screen and (max-width: 576px) {

  header {
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 15px;
    position: center;
  }

  body {
    min-height: 100%;

  }

  ul {
    display: flex;
    flex-flow: row wrap;
  }

  ul li {
    flex: 1 1 130px;
    font-size: 1.17em;
    font-family: "Orbitron";
  }

  #top-bg2 ul {
    flex: 1 1 130px;
    font-size: 1.17em;
  }

  /* Nav characteristics */
  ul li a, ul a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    transition: 0.5s ease;
  }
}

















