@charset "utf-8";

@import url("styles.css");

  /* Interests heading alignment */
  #interests-headings  {
    text-align: center;
    margin-bottom: 20px;
  }

  /* Interests heading */
  #interests-headings h1 {
    color: black;
    font-family: "Orbitron";
    font-weight: bold;
    top: 20%;
    text-shadow: 2px 2px 8px #888888;
    font-size: 3em;
  }

  #interests-headings h4 {
    font-family: "Orbitron";
    color: #5900b3;
    font-weight: bold;
  }

  .container-sm#interests-headings {
    padding-bottom: 20px;
  }
  
  
  /* Interests table attributes*/
  .container-sm .table {
    font-family: Arial, sans-serif;
    font-size: 1.17em;
    background-color: white;
    border: #5900b3;
  }

  #mytable a {
    color:#5900b3;
  }
  
  thead th {
    text-align: center;
  }
  
/* ============================================
	Screens 577px or more 
   ============================================
 */


@media only screen and (min-width: 577) {

   /* Interests table sizing */
   .table {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    width: fit-content;
  }
}


/* ===============================
	 Screens up to 576 pixels
   ===============================
*/


@media only screen and (max-width: 576) {

  /* Interests table sizing */ 
   .table {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

}
